.inter {
    font-family: "Inter", sans-serif;
}

.btn1 {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.btn2 {
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.btn3 {
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 100px;
}

body {
    font-family: "Inter";
    max-width: 1600px;
    margin: 0 auto;
}

nav {

    margin: 0 auto;
    padding: 12px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.icon-option {
    display: flex;
    gap: 32px;

}

.icon-option a {
    /* max-width: 370px; */
    text-decoration: none;
    font-size: 16px;
    color: black;



}

.heading-banner {
    background: url(/images/hero-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 670px;
    margin-top: 0px;
    

}

 .heading-banner-container {
    max-width: 1360px;
   padding: 120px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-banner-structure {
    max-width: 670px;
    font-size: 30px;
    color: #30B868;
   
}

.heading-banner .heading-banner-description {
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.heading-banner-button
{
    display: flex;
    gap: 16px;
}