.inter {
    font-family: "Inter", sans-serif;
}

.btn1 {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.btn2 {
    padding: 8px 12px;
    color: #30B868;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border-radius: 50%;
}

.btn3 {
    padding: 12px 16px;
    color: #30B868;
    background-color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius:100px;
    border: 1px solid #30B868;
}

body {
    font-family: "Inter";
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    border: 1px solid red;
    margin: 0 auto;
    padding: 12px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.icon-option {
    display: flex;
    gap: 32px;

}

.icon-option a {
    /* max-width: 370px; */
    text-decoration: none;
    font-size: 16px;
    color: black;



}

.heading-banner {}
.heading-banner .heading-banner-btn{}