.inter {
    font-family: "Inter", sans-serif;
}

.btn1 {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}


.btn2 {
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.btn3 {
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 100px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
    background-color: #414043;
    border: 1px solid rgb(0, 119, 255);
}

body {
    font-family: "Inter";
    max-width: 1600px;
    margin: 0 auto;
}

nav {

    margin: 0 auto;
    padding: 12px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.icon-option {
    display: flex;
    gap: 32px;

}

.icon-option a {
    /* max-width: 370px; */
    text-decoration: none;
    font-size: 16px;
    color: black;



}

.heading-banner {
    background: url(../images/hero-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 670px;
    margin-top: 0px;


}

.heading-banner-container {
    max-width: 1360px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-banner-structure {

    font-size: 72px;
    font-weight: bold;
    color: #30B868;
    max-height: 220px;


}

.heading-banner-structure p {

    margin-top: 20px;


}

.heading-banner .heading-banner-description {
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.heading-banner-button {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.note-container {

    text-align: center;
    margin: auto;
    margin-top: 80px;
}

.note-container h1 {
    font-size: 48px;
    color: #001931;

}

.note-container p {

    color: #627382;

}

.card-container {
    max-width: 1300px;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.card-description h3 {
    font-size: 24px;
    font-weight: 600;

}

.card-elements {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 85px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 5px 20px 0 #5252523b;


}


.card-image {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 50%;
    border: none;

}

.card-image img {
    padding: 16px;
}


.card-description p {
    color: #627382;
}

.knowledge-container {
    max-width: 1260px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}

#solution {
    font-size: 20px;
    font-weight: 500;
    color: #30B868;
}

.knowledge-container-image img {
    width: 600px;
    height: 600px;
}

.knowledge-container-description {
    margin-top: 100px;
}

.knowledge-container-description p {
    max-width: 500px;
    color: #627382;
}

.knowledge-container-description h1 {
    font-size: 48px;
    max-width: 550px;
    color: #001931;
}

.knowledge-container-description ul {
    list-style: none;
    padding: 0;
}

.knowledge-container-description ul li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    color: #001931;

}

.knowledge-container-description ul li img {
    display: flex;
    gap: 20px;
}

.ready-container {
    max-width: 1160px;
    background-color: #F7F6F2;
    margin: 120px auto;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ready-container p {
    max-width: 600px;

}

/* footer */

footer {
    margin: 0 auto;
    padding-top: 120px;
    min-height: auto;
    background-color: #001931;
}

.footer-container hr {
    max-width: 1350px;
    margin: auto;
    border: 1px solid #627382;
}

.footer-box1 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
    margin-bottom: 80px;
}

.footer-social {
    color: #FFFFFF;
}

.footer-social .social-image {
    display: flex;
    gap: 16px;
}

.footer-copyright {
    text-align: center;
    color: #FFFFFF;
}

.footer-copyright {
    padding-bottom: 30px;
}