.inter {
    font-family: "Inter", sans-serif;
}

.btn1 {
    padding: 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.btn2 {
    padding: 12px 16px;
    color: #FFFFFF;
    background-color: transparent;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.btn3 {
    padding: 8px 12px;
    color: #30B868;
    background-color: #FFFFFF;
    font-weight: 600;
    border: none;
    border-radius: 100px;
}

body {
    font-family: "Inter";
    max-width: 1600px;
    margin: 0 auto;
}

nav {

    margin: 0 auto;
    padding: 12px 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.icon-option {
    display: flex;
    gap: 32px;

}

.icon-option a {
    /* max-width: 370px; */
    text-decoration: none;
    font-size: 16px;
    color: black;



}

.heading-banner {
    background: url(../images/hero-bg.png);
    background-position: center;
    background-size: cover;
    min-height: 670px;
    margin-top: 0px;


}

.heading-banner-container {
    max-width: 1360px;
    padding: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-banner-structure {
    max-width: 670px;
    font-size: 30px;
    color: #30B868;

}

.heading-banner .heading-banner-description {
    max-width: 700px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

.heading-banner-button {
    display: flex;
    gap: 16px;
}

.note-container {

    text-align: center;
    margin: auto;
    margin-top: 80px;
}

.note-container h1 {
    font-size: 48px;
    color: #001931;

}

.note-container p {

    color: #627382;

}


.ready-container
{
    max-width: 1360px;
    /* background-color: #b49108; */
    background-color: #F7F6F2;
    margin: 0 auto;
    margin-bottom: 120px;
    padding: 80px;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.ready-container p
{
    max-width: 600px;
    
}

/* footer */

footer {
    margin: 0 auto;
    padding-top: 120px;
    min-height: auto;
    background-color: #001931;
}

.footer-container hr{
    max-width: 1350px;
    margin: auto;
   border: 1px solid #627382;
}

.footer-box1 {

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 700px;
    margin-bottom: 80px;
}

.footer-social {
    color: #FFFFFF;
}
.footer-social .social-image{
   display: flex;
   gap: 16px;
}

.footer-copyright
{
    text-align: center;
    color: #FFFFFF;
}
.footer-copyright
{
    padding-bottom: 30px;
}